@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@500&family=Roboto+Mono&family=Roboto:wght@500&display=swap');
@import "compass/css3";
    body{
      font-family: 'Playfair Display', serif;
    }
    button{
      transition: .4s ease;
      color: #e4c54a;
    }
    i{
      color: #e4c54a;
    }
    .navbar{
      position: absolute;
      z-index: 1;
      width: 100%;
    }
    .nav-item a{
      color: white;
    }
    #NavbarNav ul li a:hover{
       color: #e69d30;
      
    }
    hr{
      margin: 0;
      color: gray;
    }
    .offcanvas{
      background-color: black;
    }
    .btn-close{
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .offcanvas-body ul li a{
      color: white;
      background-color: black;
      font-size: 1rem;
    }
    .offcanvas-body  ul li a:hover{
      color: #e6c130;
    }
    .offcanvas-body  ul li{
      padding: 6px ;
    }
    /* Offcanvas togger */
    #Toggle-btn{
      transition: .5s all ease;
      border: none;
      outline: none;

    }
    #Toggle-btn img{
      width: 30px;
      transform: rotate(0deg);
      transition: .5s all ease;
    }
    .social-icons{
      display: flex;
      margin-top: 10px; 
    }
    .social-icons a{
      display: inline-block;
      margin: 0 15px;
      font-size: 22px;
      color: white;
    }
    .banner-button{
        background-color: #ecc52a;
        border: 1px solid  white;
        color:white ;
        padding: .8rem 3rem;
    }
    .banner-button:hover{
      background-color: black;
      color: white;
    }
    .logo{
      width: 50%;
      filter: saturate(200%);
    }
    .logo1{
      width: 80px;
      height: 80px;
      filter: saturate(170%);
    }
    .logo3{
      width: 50px;
      filter: saturate(100%);
    }
    .icons{
      color: #ecc52a;
    
    }
    p, span{
      font-family: 'Playfair Display', serif; ;
    }

    #img{
      animation-delay: .2s;
      padding-bottom: 1rem;
    }

    #h3{
      font-size: 1.5rem ;
      text-shadow: .1rem  .1rem .3rem black;
      padding-bottom: 1rem;
      animation-delay: .3s;
    }

    #h1{
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: .1rem;
      text-shadow: .1rem  .1rem .8rem black;
      padding-bottom: 1rem;
      font-family: 'Playfair Display', serif;
      animation-delay: .4s;
    }
    h1{
      font-size: 3.3rem;
    }
    #h2{
      font-size: 2rem;
      text-shadow: .1rem  .1rem .5rem black;
      padding-bottom: 1.6rem;
      font-family: 'Playfair Display', serif;
      animation-delay: .5s;
    }

    #button{
      animation-delay: .6s;
      border-width: medium ;
      border: none;
      border-radius: 0;
      font-size: 1.1rem;
    }
    .nav{
      position: absolute;
      z-index: 1;
      width: 100%;
    }
    .overlaping-car{
      width: 1100px;
      position: absolute;
      left: 9%;
      top: 97%;
      border: 1px solid rgba(128, 128, 128, 0.151);
      color: gray;
      
    }
    .overlaping-car-border{
      border-right: 1px solid rgba(128, 128, 128, 0.527) ;
    }
    .overlaping-car .row {
      display: flex;
      flex-direction: row;
    }
    .overlaping-car button{
      text-align: center;
      white-space: nowrap;
      padding: .8rem 2rem;
      background-color:#ecc52a ;
      color: white;

    }
    .carousel-item{
      
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      min-height: 100vh;
    }
    .carousel-inner > .carousel-item > .container {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      text-align: center;
    }
    .special-offer-section{
      margin-top: 3rem;
    }
    .offer-img{
      filter: saturate(110%);
      width: 200px;
      height: 300px;
      z-index: 1;
    }

    .box{
      position: absolute;
      width: 190px;
      height: 300px;
      background-color: rgba(243, 228, 188, 0.658);
      transform: rotate(10deg) ;
      z-index: -1;
      animation: rotate 2s ease infinite;
    }

    /* @keyframes rotate {
     0%{
      transform: rotate(8deg);
     }
     100%{
      transform: rotate(-5deg);
     }
    } */
    .special-guest-bg{
      background-color: #e6c2300e;
      background-size: cover;
      background-repeat: repeat;
      width: 100%; 
    }

    .inner{
      overflow: hidden;
    }

    .inner img{
      width: 19rem;
      height: 18rem;
      transition: all 1.3s ease;
    }

    .room-card:hover img{
      transform: scale(1.1);
    }

    .room-card img{
      transition: .2s ease;
      width: 18rem;
      
    }
    .room-card{
      background-color: white;
      color: gray;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      margin: 0 auto;
      width: 18rem;
    }
    .room-card:hover{
      background-color: #e6c130;
      color: white;
    }

    .room-card:hover i{
      color: white;
    }
    

    .slider-section{
      background-color: black;
     
    }

    .image-slider{
      width: 100%;
      max-height: 1200px;
    }
    .image-slider,
    .slider-container {
      
      position: relative;
      height: 100%;
    }
    
    .slider-container {
      background: black;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
     
    }

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position:center ;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block; 
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    #removeClass{
      border-left: 1px solid rgba(128, 128, 128, 0.637);
      border-right: 1px solid rgba(128, 128, 128, 0.575);
    }
    .round-img{
      width: 100%;
    }
    .down-logo1{
      position: relative;
      left: 425px;
    }
    .down-logo2{
      position: relative;
      left: 935px;
    }
    .bg-img{
      background: linear-gradient(to top, #0d0d0e, transparent),linear-gradient(to bottom, #0d0d0e, transparent), url(images/general/bg-2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh; 
      }
    .video-section{
      max-height: 1500px;
   
    }
    .pulse-button i{
      text-decoration: none;
      color: white;
    }
  .pulse-button{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.4em;
    font-weight: light;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;

    border-radius: 50%;
    background: #e6c230a8;
    cursor: pointer;
    animation: pulse 1s ease-in-out infinite; 
    }
  @keyframes pulse {
    0%{
      transform: scale(1);
      box-shadow: 0 0 0 0px rgba(255,255,255,.2);
    }
    70%{
      transform: scale(1);
      box-shadow: 0 0 0 35px rgba( 255,255,255,.1);
    }
    100%{
      transform: scale(.1);
      box-shadow: 0 0 0 35px rgba(255,255,255, 0);
    }
    
    
    }
    
    .text-width ,.text-width2 {
      margin: 0 auto;
      text-align: justify;
    }
    .facilities{
      background-color: black;
    }
    #facilities-card{
      width: 100%;
      border: .5px solid #ecae2a;
      background-color: transparent;
    }
    #facilities-card i{
      color: #ecae2a;
    }
    
    #facilities-card h3{
      color: white;
      font-weight: 500;
    }
    #facilities-card:hover{
      transform: translateY(-20px);
      transition: .5s all ;
    }
    #facilities-card::before{
      content: ""
    }
    .abstract img{
      width: 10%;
      position: absolute;
      transition: all 1s;
    }
    .abstract .img-1{
      animation: width infinite 2s ease-in-out;
      left: 4rem;
      margin-top: -3rem;
    }
    .abstract .img-2{
      margin-top: 2rem;
      animation: width infinite 3s ease-in-out;
       right: 4rem;
        z-index: -1;
    }
    @keyframes width {
      0%{
       transform: scale(.9);
      }
      75%{
        transform: scale(1);
      }
      100%{
        transform: scale(.9);
      }
    }
    .service-prat-2{
      width: 80%;
      margin: 0 auto;
    }
    .service-prat-1{
      width: 100%;
      margin: 0 auto;
    }
    .service-title-2{
      background-color: rgba(128, 128, 128, 0.123);
    }
    @keyframes upDown {
      0%{
        margin-right: 10px;
        margin-top: -10px;
      }
      100%{
        margin-right: 0px;
        margin-top: 0px;
      }
    }
    

 @media screen and (max-width: 768px) {
  h1{
    font-size: 2rem;
  }
  #img{
    padding-bottom: 1rem;
    width: 200px;
  }

  #h3{
    font-size: 1rem ;
    padding-bottom: .5rem;
  }

  #h1{
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  #h2{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  #button{
    font-size: 1rem;
  }
  .banner-button{
    padding: .5rem 1rem;
  }
  .center{
    text-align: center;
  }
  .align{
    align-items: center;
  }
  .justify{
   justify-content: center;
  }
  .img-box{
    margin: 2rem 0;
  }
  .offer-img{
    width: 250px;
    height: 400px;
  }
  .box{
    width: 250px;
    height: 400px;
  }
  .inner img{
    height:auto;
    width: 22rem;
  }
  .room-card{
    width: 22rem;
  }
  .round-img{
    width: 75%;  
  }
  .text-width{
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
  .text-width2{
    margin: 0 auto;
    text-align: justify;
  }
  .dining-border{
    border: none;
  }
  #removeClass{
    border: none;
  }
  .overlaping-car{
    width: 60%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
    

  
  }
  .overlaping-car .row{
    flex-direction: column;
  }
  .overlaping-car .row .col{
    margin: 20px 0;
  }
  .overlaping-car button{
    text-align: center;
    white-space: nowrap;
    padding: .5rem 1rem;
    background-color:#ecc52a ;
    color: white;

  }
  .overlaping-car-border{
    border: none;
  }
}

  
 @media screen and (min-width: 769px) and (max-width: 992px){
  
  .center{
      text-align: center;
    }
    .align{
      align-items: center;
    }
    .justify{
     justify-content: center;
    }
    .inner img{
      width: 22rem;
    }
    .room-card{
      width: 22rem;
    }
    .round-img{
      width: 50%;  
    }
    .text-width{
      width: 80%;
      margin: 0 auto;
      text-align: justify;
    }
    .text-width2{
      margin: 0 auto;
      text-align: justify;
    }
    .overlaping-car{
      width: 40%;
      margin: 20px auto;
      position: relative;
      left: 0;
      top: 0;

    
    }
    .overlaping-car .row{
      flex-direction: column;
    }
    .overlaping-car .row .col{
      margin: 20px 0;
    }
    .overlaping-car button{
      text-align: center;
      white-space: nowrap;
      padding: .8rem 2rem;
      background-color:#ecc52a ;
      color: white;

    }
    .overlaping-car-border{
      border: none;
    }
 }